//<Snippetinput_rc>
#include "resource.h"

IDR_ACCEL1 ACCELERATORS
{
    0x4D,   ID_TOGGLE_MODE, VIRTKEY, CONTROL    // ctrl-M
    0x70,   ID_L_MODE, VIRTKEY               // F1
    0x71,   ID_E_MODE, VIRTKEY               // F2
    0x72,   ID_S_MODE, VIRTKEY             // F3
    0x73,   ID_SELECT_MODE, VIRTKEY             // F4
    0x52,   ID_READ, VIRTKEY             // R
    0x53,   ID_SAVE, VIRTKEY             // S
}
//</Snippetinput_rc>
